{% extends "::layout.html.twig" %}

{% block content %}
	<div id="contact-page">
{# 		{% render(controller("EasytekEcmsBundle:Page:showAsBlockBySlug", {'slug': 'contact-titre'})) %}#}
		<h2>{{ titre_page }}</h2>
		
		{% include "EasytekEcmsBundle::notification.html.twig" %}
		
		<div class="row">
			<div class="span8">
				{% render(controller("EasytekEcmsBundle:Page:showAsBlockBySlug", {'slug': 'contact'})) %}
{# 				<p>Pour nous contacter, vous pouvez soit remplir le formulaire ci-dessous, soit envoyez un email à <a href="mailto:{{ email }}">{{ email }}</a></p>#}
{# 				<p>#}
{# 					{{ entreprise }}<br />#}
{# 					{{ adresse }}<br />#}
{# 					Tél. {{ telephone }}<br />#}
{# 				</p>#}

				{% if form != false %}
					{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}
					
					<form novalidate class="form-stacked" action="{{ path('ecms_contact') }}" method="post" {{ form_enctype(form) }}>
						{{ form_errors(form) }}
						<p>
							{{ form_label(form.email) }}
							{{ form_errors(form.email) }}
							{{ form_widget(form.email) }}
						</p>
						<p>
							{{ form_label(form.sujet) }}
							{{ form_errors(form.sujet) }}
							{{ form_widget(form.sujet) }}
						</p>
						<p>
							{{ form_label(form.message) }}
							{{ form_errors(form.message) }}
							{{ form_widget(form.message) }}
						</p>
						
						{{ form_row(form.captcha) }}
						
					    {{ form_rest(form) }}
					    
					    <p class="submit">
					    	<input type="submit" class="btn" value="{{ 'easytek.contact.envoyer'|trans }}" />
					    </p>
					</form>
				{% endif %}
			</div>
			<div class="span8">
				<div class="map" data-company="{{ entreprise }}" data-adress="{{ adresse }}">{% trans %}easytek.contact.chargement_carte{% endtrans %}</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{% stylesheets output='css/contact_assets.css'
		'@EasytekContactBundle/Resources/less/*'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="http://maps.google.com/maps/api/js?sensor=false&region=FR&language=fr"></script>

	{% javascripts output='js/contact_assets.js'
		'@EasytekContactBundle/Resources/js/gmap3.min.js'
		'@EasytekContactBundle/Resources/js/contact.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
