#contact-page {
	.map {
/* 		float: right; */
		width: 100%;
		height: 400px;
	}
}

#contact-page form.form-stacked {
	margin-top: 25px;
	padding-left: 0px;
	
	textarea {
		width: 98%;
	}
	
	#form_message { height: 100px; }
	
	img {
		vertical-align: middle;
	}
}